[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
scipy = "*"
ipython = "*"
matplotlib = "*"
pyside2 = "*"
pyqtgraph = {git = "https://github.com/pyqtgraph/pyqtgraph"}

[dev-packages]
ipython = "*"
flake8 = "*"
jedi = "*"
yapf = "*"
pynvim = "*"

[requires]
python_version = "3.7"
