[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
yapf = "*"
jedi = "*"
pynvim = "*"

[packages]
scipy = "*"
pyqtgraph = "*"
PySide2 = "*"

[requires]
python_version = "3.7"
